@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --ff-Primary: "Roboto", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-dark-black: #191b1d;
  --clr-light-black: #22262c;
  --clr-gray: #9d9ea1;
  --clr-white: #fff;
  --clr-dark-pink: #b91e49;
  --clr-hotpink: #bc1e4a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--ff-Primary);
  background-color: var(--clr-dark-black);
  color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh;
}

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary {
  cursor: pointer;
  font-family: inherit;
  width: 100%;
  border: 1px solid var(--clr-hotpink);
  border-radius: 5px;
  background-color: transparent;
  color: var(--clr-white);
  font-size: 1.125rem;
  padding-block: 1em;
  letter-spacing: 1px;
  transition: 200ms;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hotpink);
}

.btn--mod {
  background-color: var(--clr-hotpink);
}

.btn--mod:hover,
.btn--mod:focus {
  background-color: transparent;
}

/* Aside */
.current-plan-container {
  background-color: var(--clr-hotpink);
  border-radius: 0 0 10px 10px;
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}

.current-plan {
  padding: 1rem;
  text-align: center;
}

.current-plan p {
  font-weight: var(--fw-700);
  letter-spacing: 1px;
}

.current-plan-mau::before {
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  background-color: var(--clr-white);
  border-radius: 50%;
  transform: translateY(-60%);
  margin-right: 5px;
}

/* Featured Content */
.featured-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-content h1 {
  margin-block: 1.5rem;
}

/* 
  Toggle Component
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-inline: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  position: absolute;
  inset: 0;
  background-color: var(--clr-hotpink);
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 26px;
  aspect-ratio: 1;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-white);
  transition: 0.4s;
}

input:checked + .slider::before {
  transform: translateX(100%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Cards Grid */
.cards-grid {
  display: grid;
  gap: 1.25rem;
  margin-block: 2rem;
}

.card {
  background-color: var(--clr-light-black);
  padding: 2rem 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  text-align: center;
}

.card-header h2 {
  font-weight: var(--fw-400);
  margin-bottom: 1rem;
}

.card-header .price {
  font-size: 4rem;
  font-weight: var(--fw-700);
}

.enterprise-price {
  font-size: 2.5rem;
  font-weight: var(--fw-700);
}

.card:nth-child(odd) .card-features {
  margin-block: 4rem 3rem;
}

.price-monthly {
  font-size: 1rem;
}

.mau-counter-container {
  margin-top: 2rem;
}

.mau-counter {
  border: 1px solid var(--clr-gray);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
}

.arrow-icon {
  color: hsl(0, 0%, 45%, 0.5);
}

.mau-acronym {
  color: var(--clr-dark-pink);
  margin-left: 1rem;
}

.card-list--pro {
  margin-block: 3rem;
}

.card-list li + li {
  margin-top: 1rem;
}

.card-list li {
  position: relative;
}

.card-list li::before {
  content: "";
  position: absolute;
  width: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-hotpink);
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}

@media (min-width: 1000px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
